body {
  background: url('../images/crowdbackground.png')no-repeat center center fixed;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  margin: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.newProjectBtn {
  text-align: center;
  margin: 25px 0 25px 0;
  padding: 1px 10px;
  background-color: #26547C;
  height: 50px;
  width: 280px;
}

.header {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    text-align: center;
    font-size: 20px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2.header{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 20px;
  color: white;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
}

.centeredContainer {
  text-align: center;
}

.landingTitle{
  margin-top: 50px;
}

.logoImage {
  margin-top: 140px;
  margin-bottom: 20px;
  width: 80%;
}

.tabs {
  margin: 50px 0;
}

.topicHeader{
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.topic-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0.30);
  color: #fff;
  font-size: 17px;
  padding: 10px;
  text-align: center;
  /*border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;*/
  margin: 0 0 5px 0;
    box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.3);
}

.topic-title-header {
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
  color: rgba(249, 159, 34, 0.8);
  font-size: 20px;
  padding: 0;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
}
#topicDiv {
  background-color: #ffffff;
  margin-top: 0px;
  border-radius: 5px;
  box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.3);
text-align:
 }
.ideaName {
  border-radius: 5px;
  clear: right;
  margin: 0 0 10px 0;
  box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.3);
}
.idea-title-header {
  background-color: rgba(255,255,255,.5);
  font-family: 'Poppins', sans-serif;
  color: black;
  font-size: 15px;
  text-align: left;
  padding: 10px;
  height: 7vh;
  margin: 0 auto;
  margin-bottom: 1.15em;
  margin-top: 1em;
  width: 80%;
}
.idea-title-header {
  background-color: rgba(255,255,255,.5);
  font-family: 'Poppins', sans-serif;
  color: black;
  vertical-align: center;
  font-weight: 200;
  font-size: 15px;
  text-align: left;
  padding: 10px;
  height: 7vh;
  margin: 0 auto;
  margin-bottom: 1.15em;
  margin-top: 1em;
  width: 80%;
}
.ideasContainer {
  overflow: hidden;
  padding: -10px 0 0 0;
  /*background-color: rgba(244,244,244,.6);*/
}
.userPhoto{
  max-width: 130px;
  margin-top: 10px;
  margin-bottom: 0;
  background-color: none;
  padding: 3px;
}
.add-topic-info {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  margin: 10px;
}
.form-control {
  margin: 8px;
  width: 80%;
  height: 5vh;
  text-align: center;
}
.save {
  margin: 20px 0 0 8px;
  background-color: #26547C;
}
.addMore{
  margin: 0 0 5px 8px;
  background-color: rgba(255, 255, 255, 0.37);
  font-size: 12px;
  color: black;
}
.dateSelect{
  margin: 0 0 5px 8px;
  background-color: rgba(255, 255, 255, 0.37);
  font-size: 12px;
  color: black;
}
.voteContainer {
  float: left;
  clear: left;
  margin-left: 40px;
  /*margin: 10px 0 10px 0;*/
}
.upVoteIcon {
  font-size: 25px;
  margin: 2px;
}

.downVoteIcon {
  font-size: 25px;
  margin: 2px;
}

.upVoteText {
  font-size: 15px;
  margin: -8px 0 -8px 0;
  line-height: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
.signOutColor {
  background-color: #26547C;
}
.menuButto:hover {
  background-color: #011627;
}

.centerItems {
  text-align: center;
  margin: 0auto;
}
#noMargin {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    margin: 0;
    /*background-color: rgba(255, 255, 255, 0.8);*/
    /* border: 1px solid #fff; */
    width: 80%;
    color: #fff;
    display: inline-block;
}
.landingHeader {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 50px;
  margin-top: 30px;
}

.mui-textfield>input, .mui-textfield>textarea {
  padding-left: 10px;
}
#add-margin {
  margin-top: 20px;
}
.mui-appbar{
  background-color: rgba(255, 255, 255, 0.27);
}
#noPadding {
  padding-top: 0px;
  padding-bottom: 0px;
}
#landing-button {
    display: inline-block;
    padding: 15px 30px;
    border: 1.4px solid;
    color: rgba(255, 255, 255, 0.87);
    text-decoration: none;
    margin: 0px 10px 10px 0;
    -webkit-transition: all .6s;
    transition: all .6s;
    min-width: 100px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.000001);
    border-radius: 15px;
    width: 65%;
    height: 10vh;
}
.mui-btn--accent{
  margin-top: 50px;
}
#landing-header{
  margin-botton: 20px;
}
.logoImage{
  margin-botton: 50px;
}
.well {
  margin-bottom: 0;
}

.deadline{
  font-size: 15px;
  color: #26547c;
}
#loginButton {
  display: inline-block;
  padding: 15px 30px;
  border: 1.4px solid;
  color: rgba(255, 255, 255, 0.87);
  text-decoration: none;
  margin: 0 auto;
  -webkit-transition: all .6s;
  transition: all .6s;
  min-width: 100px;
  text-align: center;
  background-color: #e62037;
  border-radius: 15px;
  width: 65%;
  height: 10vh;
}
.savedButton {
  background-color: rgba(255, 255, 255, 0.000001);
  color: #ffffff;
  display: inline-block;
  height: 5vh;
  border: 1px solid #fff;
  border-radius: 5px;
}

.appHeader {
  text-align: center;
  display: inline;
  margin-left: 95px;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

.menuBar {
  text-align: center;
  clear: both;
}

.appBar{
position: fixed;
 top: 0;
 left: 0;
 z-index: 9999;
 width: 100%;
 height: 50px;
 background-color: rgba(38, 34, 97, 0.8);
 display: block;
 box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.3);

  }
.addingButton {
  text-align: center;
  width: 100%;
  padding-bottom: 50px;
  padding-top: 20px;
  background-color: rgba(230, 32, 55, 0.8);
  border: none;
  height: 10vh;
  bottom: 0;
  position:absolute;
}

.saveButton {
  text-align: center;
  width: 100%;
  padding-bottom: 50px;
  padding-top: 20px;
  background-color: rgba(230, 32, 55, 0.8);
  border: none;
  height: 10vh;
  margin-top: 40px;
  bottom: 0;
}
.pulse {
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  color: rgba(255, 255, 255, 0.90);
  font-weight: 700;
  margin-botton: 5px;
}
.peer {
font-family: 'Poppins', sans-serif;
font-size: 35px;
color: rgba(255, 255, 255, 0.90);
font-weight: 100;
margin-botton: 5px;
}

#tagline{
  font-size: 20px;
  color: rgba(255, 255, 255, 0.90);
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  margin: 0 0 110px 0;
}

.topicsDiv{
  width: 80%;

  display: inline-block;
}

#userPhoto{
  margin-bottom: 0;
}

#search{
  display: inline;
  margin-top: 10px;
}

#search-text-box{
  width: 60%;
  height: 4vh;
  margin: 0 auto;
}

#search-url-box{
  width: 90%;
  height: 4vh;
  margin: 0 auto;
}

#center{
  margin: 0 auto;
  align-items: center;
}

.scrollbars{
  height: 150;
  margin-bottom: 20px;
}

#votesComponentContainer{
  margin-top: 10px;
  margin-bottom: .5em;
}
.deleteButton {
  text-align: center;
  width: 60%;
  padding-bottom: 50px;
  padding-top: 20px;
  background-color: #e62037;
  border: none;
  height: 7vh;
  margin-top: 20px;
}
#ideas{
  margin-left: 50px;
  margin-bottom: 40px;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  vertical-align: middle;
}
